doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Erro 403
            p Proibido
        a.button(href='javascript:history.back()') Voltar
        a.button(href='/') Início
