doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Erro 404
            p Página Inexistente
        a.button(href='javascript:history.back()') Back
        a.button(href='/') Início
