doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 Dark Side World
            p Adicione o seu bot na DSW, para que outras pessoas possam conhecer seu bot.
        #searchMore
            | Você gostaria de
            a(href='/bots/search/') pesquisar todos os bots
        #cards
            span#loading Carregando...
